@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@14,25.9&family=Workbench&display=swap');


html {
    background-color: burlywood;

}

body, html {
    font-family: "Honk";
    position: relative;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

/* Google font styling class */
.honk-class {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 14,
      "SHLN" 25.9;
}


/* Nav bar */

#nav-bar-list {
    background-image: linear-gradient(to top, orange, magenta 70%);
    box-shadow: 4px 4px 4px black;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 1%;

}

.nav-bar-items {
    background-color: lightsalmon;
    box-shadow: 4px 4px 4px black;
    width: 10%;
    text-align: center;
    font-size: 1.5rem;
    border: 3px solid black;

}

.nav-bar-items a {
    text-decoration: none;
}

.nav-bar-items:hover {
    background-color: #c85a54; /* A darker shade of lightsalmon for hover effect */
}

/* Title and background */

#background {
    width: 100%;
    border: 3px solid black;
    box-shadow: 2px 2px 2px gray;
}

#title-overlay-text1 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 350px;
    color: #FFF;
    z-index: 1;
}

#title-overlay-text2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #FFF;
    z-index: 1; 
}


/* ul for the beer list */
.beer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: auto;
    background-color: aqua;
 
}

.beer-selection-meta-container {
    margin-top: -40%;
}

.beer-containers {
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

/* the wrapping anchor tag - making the image clickable */
.beer-links {
   display: block;
   width: 100%;
   height: 100%;

}

/* the actual image */
.beer-links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border: 5px solid magenta;
    box-shadow: 4px 4px 4px black;
}

/* overlayed text */
.beer-names {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    width: 100%;
}


/* Footer */

footer {
    margin-top: 8%;
    background-image: linear-gradient(to top, magenta, orange 70%);
    border: 2px solid black;

}

#footer-div {
    display: flex;
    justify-content: space-evenly;
}

